---
- include_tasks: setup-Debian.yml
  when: (ansible_distribution == 'Debian' and ansible_distribution_version is version_compare('8', '>=')) or
        (ansible_distribution == 'Ubuntu' and ansible_distribution_version is version_compare('16', '>='))

- include_tasks: setup-Tarball.yml
  when:
    - not (ansible_distribution == 'Debian' and ansible_distribution_version is version_compare('8', '>='))
    - not (ansible_distribution == 'Ubuntu' and ansible_distribution_version is version_compare('16', '>='))

- name: Configure pdnsd
  template:
    src: "pdnsd.j2"
    dest: "{{ pdnsd_config_file }}"
    mode: 0644
  notify:
    - restart pdnsd

- name: Enable pdnsd service
  service:
    name: pdnsd
    state: "{{ pdnsd_service_state }}"
    enabled: "{{ pdnsd_service_enabled }}"
