# do we start pdnsd ?
START_DAEMON={{ pdnsd_service_enabled }}
# auto-mode, overrides /etc/pdsnd.conf if set [see /usr/share/pdnsd/]
AUTO_MODE=
# optional CLI options to pass to pdnsd(8)
START_OPTIONS={{ pdnsd_start_options }}